<% include partials/header %>
        <div class="container" id="background-color">
            <div class="row">
                <div class="col">
                    <section>
                        <h1><%= title %></h1>
                        <div class="form-group">
                            <button type="submit" id="green" class="btn btn-primary btn-green">Green</button>
                            <button type="submit" id="blue" class="btn btn-primary btn-blue">Blue</button>
                            <button type="submit" id="pink" class="btn btn-primary btn-pink">Pink</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
<% include partials/footer %>